<div class="container">
  <div class="row">
    <div class="col-xs-4"></div>
    <form #f="ngForm">
      <div class="col-xs-4 login">
        <br><input type="email" class="form-control" name="email" id="email" required
          placeholder="Please Enter Your Email Id" [(ngModel)]="userName"
          pattern="^([a-zA-Z0-9_\-\.]+)@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.)|(([a-zA-Z0-9\-]+\.)+))([a-zA-Z]{2,4}|[0-9]{1,3})(\]?)$"><br>
        <input type="password" class="form-control" minlength="5" name="password" required
          placeholder="Please Enter Your Password" [(ngModel)]="password"><br>
        <div class="col-xs-6">
          <button class="btn btn-primary form-control" type="button" [disabled]="!f.valid" (click)="onLogin()">Login</button>
        </div>
        <div class="col-xs-6">
          <button class="btn btn-primary form-control" [routerLink]="['/signUp']"
          routerLinkActive="router-link-active">Sign Up</button>
        </div>
        <div class="col-xs-4"></div>
        <div class="col-xs-8"><br>
          <a href="#">Forgot Password?</a>
        </div>
      </div>

    </form>

  </div>
</div>
